{
  "installed": {
    "client_id": "12345",
    "project_id": "yourproject",
    "auth_uri": "https://www.strava.com/oauth/authorize",
    "token_uri": "https://www.strava.com/oauth/token",
    "revoke_uri" : "https://www.strava.com/oauth/deauthorize",
    "client_secret": "yourclientsecret12345",
    "redirect_uris": [
      "http://localhost:8080"
    ]
  }
}
